*{
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.container{
    height: 99vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
}
header{
    flex: 30;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    padding:15px 20px;
}
.profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 40px;
    bottom: 0;
    transform: translateY(50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    flex: 70;
    display: flex;
}
section{
    flex: 50;
}
.sec-left{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 50px;
}
.top-div{
    margin-top: 110px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mid-div{
    flex: 1;
}
.btm-div{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.round-lg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.round{
    height: 70px;
    width: 70px;
    border-radius: 20%;
}
.sec-right{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 50px;
    gap: 20px;
}
.btn{
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}