@media(max-width:1050px){
    aside{
        flex: 5;
    }
    section{
        flex: 95;
    }
}

@media(max-width:800px){
    article div{
        flex: 1;
        height: 5rem;
        background-color: white;
    }
}

@media(max-width:600px){
    article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        place-content: start;
    }

    .top-sec-head{
        flex-direction: column;
        justify-content: center;
    }
    .search-div{
        display: flex;
        gap: 10px;
    }
    .top-sec-search{
        margin-left: 0;
    }
    .top-sec-head div{
        margin-left: 0;
    }
    .botm-section{
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width:450px){
    svg{
        display: flex;
    }
    .round{
        display: none;
    }
    aside{
        display: none;
    }
    .botm-div-left{
        flex: 50;
    }
    .botm-div-left{
        flex: 50;
    }
    
}