*{
    margin: 0;
    box-sizing: border-box;
}

section{
    height: 200px;
    width: 80vw;
    margin: 0 auto;
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.p-1{
    height: 50px;
    width: 50px;
    background-color: gray;
}
.p-2{
    height: 1rem;
    width: 7rem;
    background-color: gray;
}