*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(7,1fr);
    gap: 12px;
}
header, nav,footer{
    background-color: rgb(161, 143, 143);
    grid-column: 1/-1;
}
nav{
    background-color: rgb(142, 209, 226);
}
aside{
    background-color: rgb(219, 203, 203);
    grid-row: 3/7;
}
.sect-top{
    grid-row: 3/5;
    background-color: rgb(223, 156, 208);
}
.sect-bottom{
    grid-row: 5/7;
    background-color: rgb(157, 216, 155);
}
footer{
    background-color: rgb(221, 202, 116);
}