*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    grid-template-columns:1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
header, footer{
    background-color: rgb(221, 138, 138);
    grid-column: 1/-1;
}
nav{
    background-color: rgb(221, 138, 138);
    grid-row: 2/4;
    
}
section{
    background-color: rgb(221, 138, 138);
    grid-column: 2/4;
    grid-row: 2/4;
}
aside{
    background-color: rgb(221, 138, 138);
    grid-row: 2/4;
}
footer{
    background-color: rgb(221, 138, 138);
    
}